.tempbody {
    background-image: url("../../Resource/Images/bg14.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.container {
    background-image: url("../../Resource/Images/ribbon3.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100px;
    margin: auto;
    background-color: #f4f6f9;
    max-width: 1400px;
    height: 600px;
}

.img-container {
    margin: 2% auto;
    background-color: #f4f6f9;
    background-color: transparent;
    width: 1300px;
    max-width: 1400px;
    height: 600px;
    box-sizing: border-box;
}

.head-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -30px;
}

.logo-prop {
    width: 100px;
}

.main-name-holder {
    text-align: left;
    margin-left: 1%;
    line-height: 40%;
}

.red-text {
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.blue-text {
    font-family: Calibri;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}

.text-container {
    background-color: transparent;
    margin: auto;
    height: 400px;
    width: 1200px;
    
}

.text-center {
    padding-top: 5%;
    text-align: center;
    line-height: 50%;
}

.text-head {
   
    font-family: 'Comic Sans MS';
    font-size: 40px;
}

.text-body {
    font-family: 'Comic Sans MS';
    font-size: 20px;
}

.name-holder {
    border: none;
    border-bottom: 1px solid black;
    background-color: #f4f6f9;
    font-family: 'Edwardian Script ITC';
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.name-holder:focus {
    outline: none;
}

input[type="text"] {
    width: 900px;
}

.signature-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.left-text-box {
    margin-top: 5%;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    border: none;
    border-top: 1px solid black;
    background-color: #f4f6f9;
    text-align: center;
}

.right-text-box {
    margin-top: 5%;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    border: none;
    border-top: 1px solid black;
    background-color: #f4f6f9;
    text-align: center;
}

.right-text-box:focus {
    outline: none;
}

.left-text-box:focus {
    outline: none;

}

