.logo {
    background-color: #fff;
    text-align: center;
    color: #ffa668;
    font-family: 'Pacifico', cursive;
}

    .logo a {
        font-size: 40px;
    }

li {
    list-style: none;
    
    margin-left: 23px;
    margin-right: 23px;
}

ul {
    list-style-position: inside;
    padding-left:0px;
}

.nav-link {
    padding: 12px 40px 12px 20px;
    display: block;
    font-family: Roboto;
    font-size: 15px;
    color: grey;
    margin-top: 15px;
    background-color: #fff;
    transition: 0.3s;
}

.nav-link-active:hover {
    background-image: linear-gradient(to right, #ffa668, #ffa95a, #ffac4b, #ffb139, #ffb622);
    color: white;
    box-shadow: 0px 2px 12px 3px rgba(255,198,82,1);
    border-radius: 4px;
}

.nav-link-active a:visited, a:active, a:focus {
    background-image: linear-gradient(to right, #ffa668, #ffa95a, #ffac4b, #ffb139, #ffb622);
    color: white;
    box-shadow: 0px 2px 12px 3px rgba(255,198,82,1);
    border-radius: 4px;
}

.side-nav i {
    position: relative;
    top: 5px;
    font-size: 20px;
}

.dropdown-container {
    display: none;
    background-color: #fff;
}

    .dropdown-container:hover {
        cursor: pointer;
    }
