.logo {
    background-color:#fff;
    text-align: center;
    color: #0094ff;
    font-family: 'Pacifico', cursive;
}

.logo a{
    font-size:40px;
}

li{
    list-style:none;
    width:100%;
    padding-left:0px;
}

ul{
    list-style-position: inside;
    padding-left:0px;
}

.nav-link {
    padding: 15px 75px 15px 50px;
    display: block;
    font-family: Roboto;
    font-size: 15px;
    color: grey;
    background-color: #fff;
    transition: 0.3s;
}

.nav-link-active:hover {
    background: rgb(170,124,235);
    background: linear-gradient(90deg, rgba(170,124,235,1) 0%, rgba(94,59,237,1) 100%);
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-link-active a:visited, a:active, a:focus {
    background: rgb(170,124,235);
    background: linear-gradient(90deg, rgba(170,124,235,1) 0%, rgba(94,59,237,1) 100%);
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.side-nav i {
    position: relative;
    top: 5px;
    font-size: 20px;
}

.dropdown-container {
    display: none;
    background-color: #f4f6f9;
}

.dropdown-container:hover {
    cursor:pointer;
}
