body {
}

.side-nav {
    max-width: 350px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f4f6f9;
    -webkit-box-shadow: 3px 1px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 15px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 15px -8px rgba(0,0,0,0.75);
}

.nav-link ,button {
    display: block;
    margin: 5px 0;
    padding: 10px 75px 20px 35px;
    font-family: Calibri;
    font-size: 15px;
    border-style: none;
    color: grey;
    background-color: #f4f6f9;
    text-decoration: none;
    left: 0;
    transition: 0.3s;
}

.nav-link-active:hover {
    background: rgb(170,124,235);
    background: linear-gradient(90deg, rgba(170,124,235,1) 0%, rgba(94,59,237,1) 100%);
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-link-active a:visited, a:active, a:focus, button:visited, button:active, button:focus {
    background: rgb(170,124,235);
    background: linear-gradient(90deg, rgba(170,124,235,1) 0%, rgba(94,59,237,1) 100%);
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.side-nav i {
   position: relative;
   top: 5px;
   font-size: 20px;
}

button {
    width: 250px;
    text-align: left;
}

button:focus {
    outline: none;
}

.dropdown-container {
    display: none;
    background-color: #f4f6f9;
    
}
